p,
h1,
button {
  font-family: "Macondo", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
}

span {
  color: red;
  cursor: pointer;
}

h1 {
  font-size: 22px;
}

.content {
  padding: 0px 10px;
  height: 95%;
  display: flex;
  flex-direction: column;
}

body {
  background-image: url("images/wood-background.jpg");
}

.envelope {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.animated-mail {
  position: absolute;
  height: 150px;
  width: 200px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  transition: 0.4s;

  .body {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100px 200px;
    border-color: transparent transparent #1e3335 transparent;
    z-index: 2;

    p {
      color: white;
      transform: rotateZ(-90deg);
      margin-top: 6vh;
      margin-left: -2vw;
      font-size: 20px;
    }
  }

  .top-fold {
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 100px 0 100px;
    -webkit-transform-origin: 50% 0%;
    -webkit-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    -moz-transform-origin: 50% 0%;
    -moz-transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    transform-origin: 50% 0%;
    transition: transform 0.4s 0.4s, z-index 0.2s 0.4s;
    border-color: #2a4749 transparent transparent transparent;
    z-index: 2;
  }

  .back-fold {
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #38524f;
    z-index: 0;
  }

  .left-fold {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 50px 100px;
    border-color: transparent transparent transparent #263a3f;
    z-index: 2;
  }

  .letter {
    left: 20px;
    bottom: 0px;
    position: absolute;
    padding: 0px;
    width: 160px;
    height: 60px;
    background: #d3c5a9;
    z-index: 1;
    overflow: hidden;
    cursor: auto;
    -webkit-transition: 0.4s 0.2s;
    -moz-transition: 0.4s 0.2s;
    transition: 0.4s 0.2s;

    .letter-border {
      height: 10px;
      width: 100vw;
      background: repeating-linear-gradient(
        -45deg,
        black,
        black 8px,
        transparent 8px,
        transparent 18px
      );
    }
  }
}

.button-container {
  justify-content: right;
  display: flex;
  margin: 10px 15px 0px 0px;
}

.button-container button {
  cursor: pointer;
  border: none;
  color: black;
  font-weight: 900;
}
